#root {
  display: flex;
}

#root div {
  width: 150px;
  padding: 20px;
}

.title {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.status {
  text-align: center;
  color: red;
}